body {
    background-color: var(--light-white);
    font-family: "Poppins";

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 35rem;
    margin: auto;
}

main {
    background-color: var(--white);
    border-radius: 15px;
    position: relative;
}

hr {
    position: absolute;
    width: 100%;
    right: 50%;
    transform: translateX(50%);
    margin: 2rem 0;
    opacity: 0.3;
}

.container-card > .div-image > .image-hero {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
}

.container-card > .div-image {
    position: relative;
}

.container-card > .div-image::after {
    content: '';
    background-image: url(../img/white-overlay.svg);
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    top: 75%;
    width: 100%;
    height: 6rem;
}

.container-card > .info {
    padding: 0 3rem 2rem;
}

.container-card > .info > .title {
    font-size: 2.3rem;
    font-weight: 500;
}

.container-card > .info > .paragraph {
    margin-top: 1.5rem;
    font-size: 1.4rem;
    color: var(--gray);
}

.container-card > .info > .perfil {
    display: flex;
    align-items: center;
    margin-top: 4rem;
    gap: 2rem;
}

.container-card > .info > .perfil > .image-perfil {
    border-radius: 100%;
    width: 4rem;
    height: 4rem;
    transition: .3s;
}

.container-card > .info > .perfil > .image-perfil:hover {
    transform: scale(1.5);
}

.container-card > .info > .perfil > .informations > .name {
    font-size: 1.4rem;
}

.container-card > .info .perfil > .informations .profission {
    font-size: 1.3rem;
    color: var(--gray);
    font-weight: 500;
}